<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--  직접 css와 js에 파일들을 넣었기 때문에 경로가 바뀌고 뒤에 내용이 필요없어짐(예전에 CDN 사용하기 전(vscode 쓸때)에 했던방법과 동일)  -->
    <!--  프로젝트에 직접 cdn을 포함시키면 부트스트랩 클래스를 쓸수 있음  -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <script src="/js/jquery-3.7.0.js"></script>
    <script src="/css/bootstrap.css"></script>

    <style>

    </style>
    <script>

    </script>

</head>
<body>
<div class="container">
    <h1>index.xml 페이지</h1>
</div>
</body>
</html>